# Configuración SMTP para envío de correos reales (Opcional)
# Si se deja vacío, la aplicación utilizará Ethereal Email de forma automática.

PORT=3000

# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=tu-correo@gmail.com
# SMTP_PASS=tu-contraseña-de-aplicacion
# SMTP_FROM="Polla Mundial 2026" <tu-correo@gmail.com>
